<div class="position-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="../superadmin/dashboard.html">
                <span data-feather="home"></span>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../superadmin/akun.html">
                <span data-feather="users"></span>
                Kelola Akun
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../superadmin/role.html">
                <span data-feather="settings"></span>
                Pengaturan Role
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../superadmin/log-aktivitas.html">
                <span data-feather="activity"></span>
                Log Aktivitas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../superadmin/karyawan.html">
                <span data-feather="user"></span>
                Data Karyawan
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../superadmin/jobdesk.html">
                <span data-feather="clipboard"></span>
                Data Jobdesk
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../superadmin/laporan.html">
                <span data-feather="file-text"></span>
                Laporan Karyawan
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../superadmin/rekap.html">
                <span data-feather="bar-chart-2"></span>
                Rekap Laporan
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../superadmin/pengaturan.html">
                <span data-feather="tool"></span>
                Pengaturan Sistem
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../login.html">
                <span data-feather="log-out"></span>
                Logout
            </a>
        </li>
    </ul>
</div>